<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513254980783-ip48dqe9ueankjumebrkdh2bd73qpi2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513254980783-ip48dqe9ueankjumebrkdh2bd73qpi2c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>513254980783-fsrpvql6mhnf8etbumh6s0voggckvche.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBL-G2zbNJs6NJXC_Afd427JQVmYf23ij0</string>
	<key>GCM_SENDER_ID</key>
	<string>513254980783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plus-vocab.app</string>
	<key>PROJECT_ID</key>
	<string>gen-lang-client-0278161260</string>
	<key>STORAGE_BUCKET</key>
	<string>gen-lang-client-0278161260.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513254980783:ios:8e0b783533e4a59e25a85a</string>
	<key>SERVER_CLIENT_ID</key>
	<string>513254980783-0mc882kqo0rdkhtc1qbr4fi3aal8h01o.apps.googleusercontent.com</string>
</dict>
</plist>